$color-white: #ffffff;
$color-black: #000000;
$color-primary: #e90628;
$color-light-grey: #f8f8f8;
$color-dark-grey: #505050;
$color-grey-1: #dddddd;
$color-grey-2: #d2d2d2;
$color-grey-3: #777777;
