@mixin card-button-mixin {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  transition: all 0.2s ease-in-out;

  i {
    font-size: 20px;
    transition: all 0.2s ease-in-out;
  }
}

.card-1 {
  background-color: $color-light-grey;
  position: relative;

  .add-to-cart-btn {
    @include card-button-mixin();
    border: 1px solid $color-primary;
    bottom: 20px;
    right: 20px;

    i {
      color: $color-primary;
    }

    &:hover {
      background-color: $color-primary;
      i {
        color: $color-white;
      }
    }
  }

  .add-to-wishlist-btn {
    @include card-button-mixin();
    border: 1px solid $color-off-white;
    top: 20px;
    right: 20px;

    i {
      color: $color-black;
    }
  }
}
