.card-2 {
  justify-content: center;
  align-items: center;
  // width: 570px !important;
  height: 470px !important;
  background-color: $color-light-grey;

  img {
    width: 350px !important;
    height: 250px !important;
  }
}
