#home_page {
  .section__title {
    position: relative;
    width: 100%;
    text-align: center;
    color: $color-dark-grey;
    font-size: 40px;
    font-weight: 400;
    margin: 40px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      height: 3px;
      background-color: $color-primary;
      width: calc(50% - 120px);
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }
}

@include media-breakpoint-md {
  #home_page {
    .section__title {
      height: 70px;
      font-size: 30px;
      margin: 30px 0;
    }
  }
}
